<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="storeName" value="My"/>
    <add key="storeLocation" value="LocalMachine"/>
    <add key="x509FindType" value="FindBySubjectName"/>
    <add key="findValue" value="test certificate name"/>
  </appSettings>  
</configuration>